<%= render 'redsox' %>

<div class="container">

<h1> Ben Brostoff </h1>

<p> I know some Hebrew. <%= link_to "I like turtles", "https://www.youtube.com/watch?v=CMNry4PE93Y&feature=kp", :target => '_blank', id: 'green'%> </p>

</div>
